.download-cv1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 128.7%;
  font-weight: 500;
}
.download-cv-parent {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-spartan);
}
