.frame-child4,
.frame-child5 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 116px;
  height: 6px;
}
.frame-child5 {
  background-color: var(--color-silver);
  height: 4px;
}
.rectangle-root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}
