.vector-icon {
  position: absolute;
  height: 2.95%;
  width: 3.35%;
  top: 71.49%;
  right: 79.95%;
  bottom: 25.55%;
  left: 16.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 2.39%;
  width: 5.94%;
  top: 72.71%;
  right: 82.14%;
  bottom: 24.89%;
  left: 11.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  height: 1.2%;
  width: 2.67%;
  top: 70.85%;
  right: 84.84%;
  bottom: 27.95%;
  left: 12.48%;
}
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  height: 0.78%;
  width: 1.31%;
  top: 69.88%;
  right: 82.22%;
  bottom: 29.35%;
  left: 16.47%;
}
.vector-icon4,
.vector-icon5 {
  height: 0.75%;
  width: 1.11%;
  top: 70.39%;
  right: 89.77%;
  bottom: 28.86%;
  left: 9.11%;
}
.vector-icon5 {
  height: 0.7%;
  top: 71.95%;
  right: 84.38%;
  bottom: 27.35%;
  left: 14.51%;
}
.vector-icon10,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 0.38%;
  width: 0.71%;
  top: 70.3%;
  right: 87.44%;
  bottom: 29.32%;
  left: 11.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 0.4%;
  width: 0.61%;
  top: 70.73%;
  right: 87.59%;
  bottom: 28.87%;
  left: 11.79%;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  width: 0.6%;
  top: 71.15%;
  right: 83.19%;
  bottom: 28.45%;
  left: 16.21%;
}
.vector-icon10,
.vector-icon9 {
  height: 0.27%;
  width: 0.37%;
  top: 70.59%;
  right: 83.29%;
  bottom: 29.14%;
  left: 16.34%;
}
.vector-icon10 {
  height: 0.23%;
  width: 0.32%;
  top: 69.58%;
  right: 81.3%;
  bottom: 30.19%;
  left: 18.38%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15 {
  position: absolute;
  height: 0.19%;
  width: 0.33%;
  top: 73.13%;
  right: 89.93%;
  bottom: 26.68%;
  left: 9.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15 {
  height: 0.31%;
  width: 0.17%;
  top: 72.18%;
  right: 79.36%;
  bottom: 27.5%;
  left: 20.47%;
}
.vector-icon13,
.vector-icon14,
.vector-icon15 {
  height: 0.17%;
  width: 0.49%;
  top: 71.63%;
  right: 88.12%;
  bottom: 28.19%;
  left: 11.39%;
}
.vector-icon14,
.vector-icon15 {
  height: 0.13%;
  width: 0.4%;
  top: 74.21%;
  right: 86.34%;
  bottom: 25.67%;
  left: 13.25%;
}
.vector-icon15 {
  height: 0.22%;
  width: 0.36%;
  top: 72.62%;
  right: 79.51%;
  bottom: 27.16%;
  left: 20.13%;
}
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 0.16%;
  width: 0.18%;
  top: 71.87%;
  right: 79.81%;
  bottom: 27.97%;
  left: 20.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 0.35%;
  width: 0.07%;
  top: 71.83%;
  right: 83.53%;
  bottom: 27.82%;
  left: 16.4%;
}
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 0.22%;
  width: 0.11%;
  top: 73.53%;
  right: 79.77%;
  bottom: 26.24%;
  left: 20.12%;
}
.vector-icon19,
.vector-icon20 {
  height: 0.1%;
  width: 0.21%;
  top: 70.02%;
  right: 87.8%;
  bottom: 29.87%;
  left: 11.99%;
}
.vector-icon20 {
  height: 0.14%;
  width: 0.15%;
  top: 70.12%;
  right: 87%;
  bottom: 29.74%;
  left: 12.84%;
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24,
.vector-icon25 {
  position: absolute;
  height: 0.1%;
  width: 0.21%;
  top: 69.9%;
  right: 87.69%;
  bottom: 30%;
  left: 12.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22,
.vector-icon23,
.vector-icon24,
.vector-icon25 {
  height: 0.06%;
  width: 0.24%;
  top: 74.12%;
  right: 86.01%;
  bottom: 25.82%;
  left: 13.75%;
}
.vector-icon23,
.vector-icon24,
.vector-icon25 {
  height: 0.29%;
  width: 0.06%;
  top: 74.45%;
  right: 81.41%;
  bottom: 25.26%;
  left: 18.52%;
}
.vector-icon24,
.vector-icon25 {
  height: 0.1%;
  width: 0.22%;
  top: 70.2%;
  right: 81.2%;
  bottom: 29.7%;
  left: 18.58%;
}
.vector-icon25 {
  height: 2.95%;
  width: 3.35%;
  top: 55.02%;
  right: 39.01%;
  bottom: 42.03%;
  left: 57.64%;
}
.union-icon {
  position: relative;
  width: 1771px;
  height: 826px;
}
.vector-icon26 {
  position: absolute;
  height: 2.57%;
  width: 5.56%;
  top: 0.25%;
  right: 77.67%;
  bottom: 97.18%;
  left: 16.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  position: absolute;
  height: 0.28%;
  width: 0.45%;
  top: 1.78%;
  right: 78.8%;
  bottom: 97.94%;
  left: 20.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  height: 0.15%;
  width: 0.39%;
  top: 1.22%;
  right: 82.61%;
  bottom: 98.63%;
  left: 17%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  height: 0.37%;
  width: 0.09%;
  top: 2.42%;
  right: 80.7%;
  bottom: 97.21%;
  left: 19.21%;
}
.vector-icon30,
.vector-icon31 {
  height: 0.19%;
  top: 2.67%;
  right: 80.14%;
  bottom: 97.14%;
  left: 19.77%;
}
.vector-icon31 {
  height: 0.12%;
  width: 0.12%;
  top: 0.18%;
  right: 82.03%;
  bottom: 99.7%;
  left: 17.85%;
}
.vector-icon32,
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 0.1%;
  width: 0.33%;
  top: 0.64%;
  right: 80.4%;
  bottom: 99.25%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  height: 0.21%;
  width: 0.08%;
  top: 0.24%;
  right: 81.37%;
  bottom: 99.55%;
  left: 18.56%;
}
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  height: 0.06%;
  width: 0.12%;
  top: 0.72%;
  right: 80.69%;
  bottom: 99.22%;
  left: 19.19%;
}
.vector-icon35,
.vector-icon36 {
  height: 0.11%;
  width: 0.21%;
  top: 1.73%;
  right: 82.88%;
  bottom: 98.16%;
  left: 16.91%;
}
.vector-icon36 {
  height: 0.06%;
  width: 0.14%;
  top: 0.96%;
  right: 82.41%;
  bottom: 98.98%;
  left: 17.45%;
}
.home {
  position: relative;
  color: var(--color-tomato);
}
.about,
.resume {
  position: relative;
  font-weight: 500;
}
.resume {
  line-height: 128.7%;
}
.home-parent,
.resume-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.resume-wrapper {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  border: 2px solid var(--color-aquamarine);
  display: none;
  padding: var(--padding-lgi) var(--padding-7xl);
  font-size: var(--font-size-xl);
  color: var(--color-aquamarine);
}
.home-parent {
  position: absolute;
  top: 45.5px;
  left: 492px;
  display: flex;
  gap: var(--gap-45xl);
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.union-icon1 {
  position: relative;
  width: 1283.71px;
  height: 1181.04px;
}
.scroll {
  position: absolute;
  top: 763.5px;
  left: 505px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
}
.frame-icon {
  position: absolute;
  top: 756.5px;
  left: 473px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.scroll1 {
  position: absolute;
  top: 1589.5px;
  left: 504px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-200);
}
.frame-icon1 {
  position: absolute;
  top: 1582.5px;
  left: 472px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.scroll2 {
  position: absolute;
  top: 2415.5px;
  left: 504px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-200);
}
.frame-icon2 {
  position: absolute;
  top: 2408.5px;
  left: 472px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.scroll3 {
  position: absolute;
  top: 3241.5px;
  left: 504px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-200);
}
.frame-icon3 {
  position: absolute;
  top: 3234.5px;
  left: 472px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.athi {
  letter-spacing: 0.08em;
}
.ra {
  letter-spacing: 0.2em;
}
.athira {
  position: absolute;
  top: 0;
  left: 4px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-text-stroke: 1.5px #fff;
}
.engineer-junior {
  position: absolute;
  top: 59px;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.athira-parent,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 506px;
  height: 86px;
}
.group-wrapper {
  top: 335.5px;
  left: 469.5px;
  font-size: var(--font-size-19xl);
}
.ant-designbehance-circle-fill-icon,
.ant-designtwitter-circle-fill-icon {
  position: relative;
  width: 36.03px;
  height: 36.03px;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-designbehance-circle-fill-icon {
  display: none;
}
.ant-designtwitter-circle-fill-parent {
  position: absolute;
  top: 453.48px;
  left: 472px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.about-me,
.works1 {
  left: 1048px;
  font-size: var(--font-size-13xl);
}
.about-me {
  position: absolute;
  top: 1006px;
  color: var(--color-tomato);
}
.works1 {
  top: 2610px;
}
.simon-game,
.skills1,
.works1 {
  position: absolute;
  color: var(--color-tomato);
}
.simon-game {
  top: 2678px;
  left: 1048px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.skills1 {
  top: 1772px;
  left: 474px;
  font-size: var(--font-size-13xl);
}
.an-inquisitive-computer,
.i-enjoy-creating {
  position: absolute;
  top: 2729px;
  left: 1048px;
  font-size: var(--font-size-5xl);
  line-height: 170%;
  color: var(--color-gray-200);
  display: inline-block;
  width: 617px;
}
.i-enjoy-creating {
  top: 1840px;
  left: 474px;
}
.bg-icon,
.frame-child {
  position: absolute;
  top: 2510px;
  left: 467px;
  width: 152px;
  height: 192px;
  object-fit: cover;
}
.frame-child {
  top: 2545px;
  left: 517px;
  width: 475px;
  height: 653px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-16xl) 0 0 var(--br-16xl);
  background-color: var(--color-gray-100);
  width: 100px;
  height: 64px;
}
.frame-icon4 {
  position: absolute;
  top: 14px;
  left: 32px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.rectangle-parent {
  position: absolute;
  top: 2822px;
  left: 892px;
  box-shadow: 0 2px 6px rgba(246, 223, 223, 0.2);
  width: 100px;
  height: 64px;
}
.download-cv {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 128.7%;
  font-weight: 500;
}
.download-cv-wrapper {
  position: absolute;
  top: 1286px;
  left: 1048px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}
.union-icon2 {
  position: relative;
  width: 1503.57px;
  height: 1478.39px;
}
.bg-icon1,
.bg-icon2 {
  position: absolute;
  top: 1684px;
  left: 1541px;
  width: 152px;
  height: 192px;
  object-fit: cover;
}
.bg-icon2 {
  top: 1719px;
  left: 1168px;
  width: 475px;
  height: 653px;
}
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100px;
  height: 100px;
}
.group-inner {
  background-color: var(--color-gray-200);
}
.div {
  position: absolute;
  top: 43px;
  left: 34px;
  font-weight: 600;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.sql {
  position: absolute;
  top: 108px;
  left: 33px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 124px;
}
.reactjs {
  position: absolute;
  top: 108px;
  left: 19px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-div {
  position: absolute;
  top: 0;
  left: 172px;
  width: 100px;
  height: 124px;
}
.expressjs {
  position: absolute;
  top: 108px;
  left: 11px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-parent,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 344px;
  width: 100px;
  height: 124px;
}
.group-parent {
  top: 2175px;
  left: 560px;
  width: 444px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.c,
.css3,
.div3,
.html5,
.java-script {
  position: absolute;
  top: 43px;
  left: 35px;
  font-weight: 600;
}
.c,
.css3,
.html5,
.java-script {
  top: 108px;
  left: 44px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  text-align: center;
}
.css3,
.html5,
.java-script {
  left: 22px;
}
.css3,
.java-script {
  left: 29px;
}
.java-script {
  left: 7px;
}
.group-parent2,
.group-parent6 {
  position: absolute;
  top: 0;
  left: 516px;
  width: 100px;
  height: 124px;
}
.group-parent2 {
  top: 2011px;
  left: 474px;
  width: 616px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.frame-item {
  position: absolute;
  top: 3131.5px;
  left: 1048px;
  background-color: var(--color-gray-200);
  width: 116px;
  height: 6px;
}
.frame-child1,
.frame-child2,
.frame-inner,
.rectangle-div {
  position: absolute;
  top: 3133.5px;
  left: 1172px;
  background-color: var(--color-silver);
  width: 116px;
  height: 4px;
}
.frame-child1,
.frame-child2,
.rectangle-div {
  left: 1296px;
}
.frame-child1,
.frame-child2 {
  left: 1420px;
}
.frame-child2 {
  left: 1544px;
}
.html51 {
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.frame-div,
.html5-container,
.html5-frame,
.html5-wrapper {
  position: absolute;
  top: 2941px;
  left: 1048px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div,
.html5-container,
.html5-frame {
  left: 1142px;
}
.frame-div,
.html5-frame {
  left: 1222px;
}
.frame-div {
  left: 1347px;
}
.frame-icon5 {
  position: absolute;
  top: 3029px;
  left: 1048px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
}
.ant-designgithub-filled-icon1,
.frame-icon6 {
  position: absolute;
  top: 3029px;
  left: 1048px;
  width: 36.03px;
  height: 36.03px;
  overflow: hidden;
}
.frame-icon6 {
  left: 1100.03px;
  width: 40px;
  height: 40px;
  display: none;
}
.div7 {
  position: absolute;
  top: 3115.5px;
  left: 1048px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.frame-child3 {
  position: absolute;
  top: 3376px;
  left: 435px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 1258px;
  height: 486px;
}
.drop-me-a {
  margin-block-start: 0;
  margin-block-end: 5.28px;
}
.i-would-like {
  margin: 0;
}
.drop-me-a-container {
  position: absolute;
  top: 3547px;
  left: 473px;
  font-size: var(--font-size-19xl);
  line-height: 46px;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  width: 428px;
}
.get-in-touch {
  position: absolute;
  top: 3408px;
  left: 969px;
  font-size: var(--font-size-13xl);
  color: var(--color-tomato);
}
.group-child12,
.send-message-wrapper {
  position: absolute;
  border-radius: var(--br-9xs);
}
.send-message-wrapper {
  top: 3777px;
  left: 965px;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}
.group-child12 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 690px;
  height: 52px;
}
.name {
  position: absolute;
  top: 9px;
  left: 9px;
  line-height: 170%;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 3476px;
  left: 965px;
  width: 690px;
  height: 52px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.rectangle-container {
  top: 3552px;
}
.group-child14,
.rectangle-parent1 {
  position: absolute;
  width: 690px;
  height: 125px;
}
.group-child14 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent1 {
  top: 3628px;
  left: 965px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  position: absolute;
  height: 2.95%;
  width: 3.35%;
  top: 96.39%;
  right: 35.19%;
  bottom: 0.66%;
  left: 61.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  height: 2.39%;
  width: 5.94%;
  top: 97.61%;
  right: 37.38%;
  bottom: 0;
  left: 56.68%;
}
.vector-icon39,
.vector-icon40 {
  height: 1.2%;
  width: 2.67%;
  top: 95.74%;
  right: 40.08%;
  bottom: 3.06%;
  left: 57.24%;
}
.vector-icon40 {
  height: 0.78%;
  width: 1.31%;
  top: 94.77%;
  right: 37.45%;
  bottom: 4.45%;
  left: 61.23%;
}
.vector-icon41,
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  position: absolute;
  height: 0.75%;
  width: 1.11%;
  top: 95.29%;
  right: 45.01%;
  bottom: 3.96%;
  left: 53.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 0.7%;
  top: 96.85%;
  right: 39.62%;
  bottom: 2.45%;
  left: 59.27%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 0.38%;
  width: 0.71%;
  top: 95.2%;
  right: 42.68%;
  bottom: 4.43%;
  left: 56.61%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 0.4%;
  width: 0.61%;
  top: 95.63%;
  right: 42.83%;
  bottom: 3.98%;
  left: 56.55%;
}
.vector-icon45,
.vector-icon46 {
  width: 0.6%;
  top: 96.05%;
  right: 38.43%;
  bottom: 3.55%;
  left: 60.97%;
}
.vector-icon46 {
  height: 0.27%;
  width: 0.37%;
  top: 95.49%;
  right: 38.53%;
  bottom: 4.25%;
  left: 61.1%;
}
.vector-icon47,
.vector-icon48,
.vector-icon49,
.vector-icon50,
.vector-icon51 {
  position: absolute;
  height: 0.23%;
  width: 0.32%;
  top: 94.47%;
  right: 36.54%;
  bottom: 5.3%;
  left: 63.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon48,
.vector-icon49,
.vector-icon50,
.vector-icon51 {
  height: 0.19%;
  width: 0.33%;
  top: 98.02%;
  right: 45.17%;
  bottom: 1.79%;
  left: 54.5%;
}
.vector-icon49,
.vector-icon50,
.vector-icon51 {
  height: 0.31%;
  width: 0.17%;
  top: 97.08%;
  right: 34.6%;
  bottom: 2.61%;
  left: 65.23%;
}
.vector-icon50,
.vector-icon51 {
  height: 0.17%;
  width: 0.49%;
  top: 96.53%;
  right: 43.36%;
  bottom: 3.3%;
  left: 56.15%;
}
.vector-icon51 {
  height: 0.13%;
  width: 0.4%;
  top: 99.1%;
  right: 41.58%;
  bottom: 0.77%;
  left: 58.01%;
}
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55,
.vector-icon56 {
  position: absolute;
  height: 0.22%;
  width: 0.36%;
  top: 97.51%;
  right: 34.75%;
  bottom: 2.27%;
  left: 64.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon53,
.vector-icon54,
.vector-icon55,
.vector-icon56 {
  height: 0.16%;
  width: 0.18%;
  top: 96.76%;
  right: 35.05%;
  bottom: 3.07%;
  left: 64.78%;
}
.vector-icon54,
.vector-icon55,
.vector-icon56 {
  height: 0.35%;
  width: 0.07%;
  top: 96.73%;
  right: 38.77%;
  bottom: 2.92%;
  left: 61.16%;
}
.vector-icon55,
.vector-icon56 {
  height: 0.22%;
  width: 0.11%;
  top: 98.43%;
  right: 35.01%;
  bottom: 1.35%;
  left: 64.88%;
}
.vector-icon56 {
  height: 0.1%;
  width: 0.21%;
  top: 94.92%;
  right: 43.04%;
  bottom: 4.98%;
  left: 56.75%;
}
.vector-icon57,
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  position: absolute;
  height: 0.14%;
  width: 0.15%;
  top: 95.01%;
  right: 42.24%;
  bottom: 4.85%;
  left: 57.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  height: 0.1%;
  width: 0.21%;
  top: 94.8%;
  right: 42.93%;
  bottom: 5.11%;
  left: 56.86%;
}
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  height: 0.06%;
  width: 0.24%;
  top: 99.01%;
  right: 41.25%;
  bottom: 0.93%;
  left: 58.51%;
}
.vector-icon60,
.vector-icon61 {
  height: 0.29%;
  width: 0.06%;
  top: 99.34%;
  right: 36.65%;
  bottom: 0.37%;
  left: 63.28%;
}
.vector-icon61 {
  height: 0.1%;
  width: 0.22%;
  top: 95.09%;
  right: 36.44%;
  bottom: 4.81%;
  left: 63.35%;
}
.ant-designgithub-filled-icon2,
.ant-designtwitter-circle-fill-icon1 {
  position: absolute;
  top: 4018px;
  left: 984px;
  width: 36.03px;
  height: 36.03px;
  overflow: hidden;
}
.ant-designgithub-filled-icon2 {
  left: 1038.03px;
}
.ant-designbehance-circle-fill-icon1,
.ant-designinstagram-filled-icon1,
.entypo-sociallinkedin-with-ci-icon1 {
  position: absolute;
  top: 4018px;
  left: 1092.07px;
  width: 36.03px;
  height: 36.03px;
  overflow: hidden;
}
.ant-designbehance-circle-fill-icon1,
.ant-designinstagram-filled-icon1 {
  left: 1146.1px;
}
.ant-designbehance-circle-fill-icon1 {
  left: 1200.14px;
  display: none;
}
.athira-tj {
  position: absolute;
  top: 3966px;
  left: 1040px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.all-rights-reserved,
.athira-tj1 {
  position: absolute;
  top: 4086px;
  font-weight: 500;
}
.all-rights-reserved {
  left: 929px;
  text-align: center;
}
.athira-tj1 {
  left: 1104px;
}
.vector-icon62,
.vector-icon63 {
  position: absolute;
  height: 0.4%;
  width: 0.68%;
  top: 97.99%;
  right: 54.5%;
  bottom: 1.62%;
  left: 44.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon63 {
  height: 0.44%;
  top: 97.96%;
  right: 59.58%;
  bottom: 1.6%;
  left: 39.74%;
}
.bg-icon3,
.bg-icon4 {
  position: absolute;
  top: 858px;
  left: 467px;
  width: 152px;
  height: 192px;
  object-fit: cover;
}
.bg-icon4 {
  top: 893px;
  left: 517px;
  width: 475px;
  height: 653px;
}
.an-inquisitive-computer1 {
  position: absolute;
  top: 1074px;
  left: 1048px;
  font-size: var(--font-size-5xl);
  line-height: 170%;
  color: var(--color-gray-200);
  display: inline-block;
  width: 617px;
}
.vector-parent {
  position: relative;
  width: 100%;
  height: 4169.74px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-spartan);
}
